---
import { getCollection } from "astro:content";

import ArticleCard from "@/components/articles/ArticleCard.astro";

const articles = await getCollection("articles", ({ data }) => {
  return data.isDraft !== true;
});
---

<section class="articles container">
  <h1>Articles</h1>
  <ul class="articles__list list-reset">
    {
      articles.map((a) => (
        <ArticleCard
          title={a.data.title}
          description={a.data.description}
          date={a.data.pubDate}
          cover={a.data.cover}
          coverAlt={a.data.coverAlt}
          coverCard={a.data.coverCard}
          url={`/articles/${a.id}`}
        />
      ))
    }
  </ul>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const cards = document.querySelectorAll(".articleCard");

    Array.prototype.forEach.call(cards, (card) => {
      let down: number,
        up: number,
        link = card.querySelector("h2 a");
      card.onmousedown = () => (down = +new Date());
      card.onmouseup = () => {
        up = +new Date();
        if (up - down < 200) {
          link.click();
        }
      };
    });

    // cards.forEach((c) => {
    //   const link = c.querySelector("a");
    //   if (link) {
    //     c.addEventListener((e: Event) => {
    //       if (link !== e.target) {
    //         link.click();
    //       }
    //     });
    //   }
    // });
  });
</script>

<style lang="scss">
  .articles {
    padding-bottom: var(--space-large);

    &__list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      gap: var(--space-medium);
    }
  }
</style>
